body {
  color: #fff;
  background: #222 url('../assets/bgdark.png');
  }
/* Top Header ============================================================ */
nav a {
  color: #666;
  }
hr {
  background-color: #333;
}
.articleitem p {
  color: #666;
}

/* Body Text ============================================================ */
h1,h2       { color: #fff; }
h3,h4,h5,h6 { color: #fff; }
