body {
  color: #222;
  background: #fff url('../assets/bglight.png');
  }
/* Top Header ============================================================ */
nav a {
  color: #666;
  }
hr {
  background-color: #f3f3f3;
}
.articleitem p {
  color: #666;
}

/* Body Text ============================================================ */
h1,h2       { color: #111; }
h3,h4,h5,h6 { color: #666; }
