/* Containers ============================================================== */
/* A container should group all your columns. */
.container {
    max-width: 40em;
    margin: 24px auto 0;
    /* background-color:orange; */
    }
.containerlarge {
    max-width: 975px;
    margin: 24px auto 0;
    }
.topbar {
    max-width: 40em;
    margin: 0 auto;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }

/* Index Page ============================================================== */
body.index {
  background-color: #000; 
  height: 100%;
  /* Webkit */
  }
img.index {
    outline: 1px solid rgb(51,51,51);
    outline: 1px solid rgba(255,255,255,0.2);
    outline-offset: -2px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left:-487px;
    z-index: -1;
  }

.title {
    /* background: rgba(0,0,0,0.5);  */
    /* padding: 24px 0; */
    position: absolute;
    top: 300px;
    font-size: 3em;
    width: 100%;
    text-align:center;
    text-shadow: 0px 2px 2px black;
}
/* Top Bar Alignment ======================================================= */
header {
  float: left;
  padding-top:23px;
  /* background-color: green; */
}
header a {
  /* background-color: red; */
  text-decoration: none;
  font-style: italic;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Sorts Mill Goudy', serif;
  }
header a:focus,
header a:hover     { text-decoration: none; }
nav {
  float: right;
  text-align: right;
  padding-top:23px;
  /* background-color: green; */
}
nav a {
  font-family: sans-serif;
  text-decoration: none;
  font-size: 11px;
  line-height: 24px;
  margin-left: 4px;
  /* margin-top: 1em; */
}
nav a:focus,
nav a:hover { 
  text-decoration: none; color: #0bf; 
  }

/* Article Item ============================================================ */
.articlelist {
  padding: 0;
  margin: 0;
}
ul .articleitem {
  display: inline-block;
  list-style-type: none;
  /* text-align: center; */
  width: 100%;
  padding-bottom: 12px;
  padding-top: 12px;
}
ul .articleitem:hover {
  text-decoration: none;
}
.articleitem h3 {
  margin-bottom:0em;
  color: black;
}
.articleitem p {
  margin-bottom:0em;
}
.articleitem h3:hover {
  color: #0bf;
}

/* Front Page ============================================================== */
img.photo{
    /* margin-bottom: 50px; */
    outline: 1px solid rgb(51,51,51);
    outline: 1px solid rgba(255,255,255,0.2);
    outline-offset: -2px;
    border: 1px solid black;
}

figure { 
    display: block; 
    position: relative; 
    overflow: hidden; 
}

figcaption { 
    position: absolute; 
    background: rgba(0,0,0,0.5); 
    /* padding: 24px 0; */
    color: white; 
    padding: 10px 20px; 
    bottom: 40px;
    /* left: auto; */
    text-shadow: 0px 4px 10px black;
    width: 100%;
    text-align:center;
}

