<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Victor Gan - $title$</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/typography.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/colourslight.css" type="text/css" media="screen, projection">
    <!-- <link rel="stylesheet" href="css/coloursdark.css" type="text/css" media="screen, projection"> -->
    <link rel="stylesheet" href="/css/print.css" type="text/css" media="print">
    <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <div class="topbar clearfix"> 
        <header>
            <a href="/index.html" class="homelink">Victor Gan</a>
        </header>
        <nav>
            <a href="/articles.html">articles</a>
            <a href="/projects.html">projects</a>
            <a href="/photography.html">photography</a>
            <a href="/about.html">about</a>
        </nav>
    </div> <!-- topbar -->
    <div class="container">
    $body$
    </div> <!-- /container -->

  </body>
</html>
